.multi-cards{
    /* margin-top: -90px; */
    margin-top: -70px;
}

.multi-cards .row .card{
    padding: 2rem;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    border: 0;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.11);
    transition: all .5s linear;
}
.multi-cards .row .card:hover{
  transform: translateY(-5px);
}
.multi-cards .row .card p{
    color: var(--darkclr);
    text-align: center;
}
.multi-cards .row .card p a{
    text-decoration: none;
    color: var(--darkclr);
    text-align: center;
}
.multi-cards .row .card p a:hover{
    color: var(--dark-primary);
}
@media (min-width:576px) and (max-width:767px) {
    .multi-cards .row .card {
        padding: 0.5rem;
    }
}
.multi-cards .row .card i{
    font-size: 42px;
    color: var(--themesecondaryclr);
    margin-bottom: 1rem;
}
@media (max-width:991px) {
    .multi-cards .row .card i{
        font-size: 35px;
    }  
}
.multi-cards .row .card h5{
    font-weight: 700;
    font-size: 21px;
    color: var(--light-dark);
}
.multi-cards .row .card .yellow-btn{
    line-height: 1em;
}
@media (min-width:992px) and (max-width:1199px) {
    .multi-cards .row .card h5{
        font-size: 18px;
    }
}
@media (max-width:991px) {
    .multi-cards .row .card h5{
        font-size: 18px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .multi-cards .row .card .yellow-btn{
        padding: 8px 28px;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .multi-cards .row .card .yellow-btn{
        padding: 8px 21px;
        font-size: 12px;
    }
}





















/* .contact .left-content {
  position: sticky;
  top: 18%;
} */
.contact .left-content h4 {
  margin-bottom: 20px;
}
.contact .left-content p {
  margin-bottom: 0;
  font-style: normal;
  text-align: justify;
}
@media (max-width: 575px) {
  .contact .left-content p {
    font-size: 0.9rem;
  }
}

.contact .left-content .phone-detail {
  display: flex;
  transition: all .5s linear;
}
.phone-detail:hover{
  transform: translateX(-5px);
}
.contact .left-content .phone-detail span i {
  height: 50px;
  width: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: var(--themesecondaryclr);
  color: var(--plainclr);
  font-size: 1.3rem;
  border-radius: 10px 0 0 10px;
}
.contact .left-content .phone-detail .phone {
  margin-left: 16px;
}
.contact .left-content .phone-detail .phone h5 {
  margin-bottom: 5px;
}
.contact .left-content .phone-detail .phone a {
  color: var(--darkclr);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}
.contact .left-content .phone-detail .phone a:hover {
  color: var(--themesecondaryclr);
}
@media (max-width: 575px) {
  .contact .left-content .phone-detail .phone a {
    font-size: 0.9rem;
  }
}

.contact .left-content .email-detail {
  display: flex;
  transition: all .5s linear;
}
.contact .left-content .email-detail:hover{
  transform: translateX(-5px);
}
.contact .left-content .email-detail span i {
  height: 50px;
  width: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: var(--themesecondaryclr);
  color: var(--plainclr);
  font-size: 1.3rem;
  border-radius: 10px 0 0 10px;
}
.contact .left-content .email-detail .email {
  margin-left: 16px;
}
.contact .left-content .email-detail .email h5 {
  margin-bottom: 5px;
}
.contact .left-content .email-detail .email a {
  color: var(--darkclr);
  font-size: 1rem;
  font-style: normal;
}
.contact .left-content .email-detail .email a:hover {
  color: var(--themesecondaryclr);
}
@media (max-width: 575px) {
  .contact .left-content .email-detail .email a {
    font-size: 0.9rem;
  }
}
.contact .left-content .location-detail {
  display: flex;
  transition: all .5s linear;
}
.location-detail:hover{
  transform: translateX(-5px);
}
.contact .left-content .location-detail span i {
  height: 50px;
  width: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: var(--themesecondaryclr);
  color: var(--plainclr);
  font-size: 1.3rem;
  border-radius: 10px 0 0 10px;
}
.contact .left-content .location-detail .location {
  margin-left: 16px;
}
.contact .left-content .location-detail .location h5 {
  font-weight: 500;
  font-style: normal;
  margin-bottom: 5px;
}
.contact .left-content .location-detail .location p {
  color: var(--darkclr);
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 575px) {
  .contact .left-content .location-detail .location p {
    font-size: 0.9rem;
  }
}
@media (max-width: 991px) {
  .contact .left-content {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .contact .left-content {
    margin-bottom: 18px;
  }
}
.contact .get-in-touch {
  padding: 40px;
  /* position: sticky;
  top: 18%; */
  /* background: var(--card1-bg); */
  
}
@media (max-width: 575px) {
  .contact .get-in-touch h2 {
    font-size: 1.4rem;
  }
}
.contact .get-in-touch .form-group {
  position: relative;
  margin-bottom: 0.8rem;
}
.contact .get-in-touch .form-group i {
  position: absolute;
  left: 14px;
  top: 16px;
  color: var(--themesecondaryclr);
}
.contact .get-in-touch .form-group .btn-secondary {
  text-transform: uppercase !important;
  font-weight: 700;
  font-style: normal;
}
.contact .get-in-touch textarea {
  padding: 10px 10px 10px 35px;
  border-radius: 0;
}
.contact .get-in-touch input {
  padding: 10px 10px 10px 35px;
  border-radius: 0;
}
.contact .get-in-touch input:focus {
  box-shadow: 0 0 0 var(--plainclr);
  /* background-color: var(--light-primary-bg); */
  outline: 0;
}
.contact .get-in-touch textarea:focus {
  box-shadow: 0 0 0 var(--plainclr);
  /* background-color: var(--light-primary-bg); */
  outline: 0;
}
.contact .get-in-touch .form-check-input[type=checkbox] {
  border-radius: 0.25em;
  padding: 7px;
}
.contact .get-in-touch .form-check-input {
  /* background-color: var(--light-primary-bg); */
  /* border-color: var(--primary-border); */
}
.contact .get-in-touch .form-check-input:checked {
  background-color: var(--themesecondaryclr);
  border-color: var(--themesecondaryclr);
}
.contact .get-in-touch textarea:focus {
  box-shadow: 0 0 0 var(--plainclr);
  outline: 0;
}
.contact .get-in-touch label a.privacy-policy {
  color: var(--darkclr);
  font-weight: 500;
  font-style: normal;
}
.contact .get-in-touch label a.privacy-policy:hover {
  color: var(--themesecondaryclr);
}
@media (max-width: 575px) {
  .contact .get-in-touch {
    padding: 30px 20px;
  }
}

.map iframe {
  width: 100%;
  height: 500px;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--themesecondaryclr);
    outline: 0;
    box-shadow: 0 0 0 .0rem rgba(13, 110, 253, .25);
}