/* projects  */
.projects .project-card{
    /* border-bottom: 3px solid var(--themesecondaryclr); */
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
        padding: 0.5rem;
}
.projects .project-card:hover .content h5,
.projects .project-card:hover .content p{
    color: var(--plainclr);
}
.projects .project-card:hover .btn-theme-two{
    border: 1px solid var(--plainclr) !important;
    background: transparent;
}
.projects .project-card h5{
    color: var(--themeprimaryclr);
    margin-top: 10px;
    font-weight: 600;
}
.projects .project-card p{
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}
.projects .project-card .images-part{
    overflow: hidden;
    position: relative;
    height: 200px;
}

.projects .project-card .images {
    height: 100%;
    overflow: hidden;
}

.projects .project-card .images img {
    display: block;
    width: 100%;
    transition: transform 5s linear;
    /* Smooth scroll */
}

.projects .project-card:hover img {
    transform: translateY(-50%);
    /* Adjust this value depending on image height */
}
.projects .project-card {
    /* border-bottom: 3px solid var(--themesecondaryclr); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
    z-index: 100;
    /* transition: linear; */
}

.projects .project-card .card-body{
    position: relative;
    z-index: 100;
}
.projects .project-card:before {
    position: absolute;
    content: '';
    background: var(--themesecondaryclr);
    height: 40px;
    top: -10px;
    right: -12px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.5s linear;
    z-index: -1;
}

.projects .project-card:after {
    position: absolute;
    content: '';
    background: var(--themeprimaryclr);
    height: 40px;
    bottom: -11px;
    left: -11px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.5s linear;
    z-index: -1;
}


.projects .project-card:hover:before {
    width: 50%;
    height: 100%;
    right: 0;
    border-radius: 0;
    top: 0;
    bottom: auto; 
}


.projects .project-card:hover:after {
    width: 50%;
    height: 100%;
    left: 0;
    border-radius: 0;
    bottom: 0;
    top: auto; 
}



/* brands */
.brand-card{
    height: 100px !important;
    position: relative;
    border: 1px solid var(--border-color2);
    border-radius: 18px;
    transition: all .5s linear;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
    border-left: 3px solid var(--themeprimaryclr) !important;
}
.brand-card:hover{
    transform: translateY(-5px);
}
/* .brand-card::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--themeprimaryclr);
    width: 4px;
    height: 100%;

} */
.brand-card .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.VIpgJd-ZVi9od-xl07Ob-OEVmcd{
    z-index: 10000002;
    border: none;
    position: fixed;
    box-shadow: 0 0px 0px 0px #999;
}